{% extends "food_mgt/base.html" %}
{%block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{object.author.profile.image.url}}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
            {% if object.author == user %}
              <div>
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}"> Update</a>
              <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}"> Delete</a>
              </div>
            {% endif %}
          </div>
          <h2 class = "article-title">{{ object.title }}</h2>
          <p class="article-content">{{object.content }}</p>
          <p>Status : {{object.status}}</p>
          <p>Username_booked : {{object.booked}}</p>
          <p>Date : {{object.date}}</p>
          <P>
            <img src="{{object.image.url}}">
          </P>
          <!-- <p>
            Contact details:
          </p>
          <p>Name : {{object.contact_name}}</p>
          <p>Number : {{object.contact_number}}</p> -->
          <div >
            <h3>
              Address :
            </h3>
            <p>State : {{object.state}} &nbsp;&nbsp;|&nbsp;&nbsp; City : {{object.city}}</p>
            <h4>
              Contact details:
            </h4>
            <p>Name : {{object.contact_name}} </p>
            <p>Number : {{object.contact_number}}</p>
          </div>
        </div>
        {% if object.status == 'Available' %}
        <div>
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'request-food' object.id %}"> Request Food</a>
        </div>
        {% endif %}
        {% if object.status == 'Booked' %}
        {% if object.booked == user.username %}
        <div>
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'cancel-request' object.id %}"> Cancel Request</a>
        </div>
        {% endif %}
        {% endif %}
      </article>
{% endblock content %}
   